@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

ol {
  margin-left: -8px;
  margin-right: 1px;
  border-radius: 1px;
  padding: 10px;
  text-align: center;
}

button {
  margin-left: 500px;
  margin-right: -500px;
  border-radius: 1em;
  font-size: 12px;
  padding: 0.5em 1em;
  display: absolute;
  border: none;
  outline: none;
  background: #ffffff;
  cursor: pointer;
}

button:hover {
  background: #cccccc;
}

button:focus {
  color: white;
  background: #000000;
}

body
{
  display: absolute;
  justify-content: top;
  align-items: top;
  min-height: 1000vh;
  background: #ff9900;
}

header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}
header .sticky
{
  padding: 5px 100px;
  background: #f0efef;
}
header .logo
{
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  Letter-spacing: 2px;
  transition: 0.6s;
}
header ul
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center
}
header ul li
{
  position: relative;
  list-style: none;
}
header ul li a
{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}
.banner
{
  position: relative;
  width: 100%;
  height: 50vh;
  background-size: cover;
}
header.sticky ul li a
{
  color: #000;
}

h1 {
  text-align: center;
  font-family: 'Poppins';
  min-height: 5vh;
}

h2 {
  text-align: center;
  font-family: 'Poppins'; 
  color: rgb(0, 0, 0);
  min-height: 10vh;
}

h3 {
  text-align: center;
  font-family: 'Poppins'; 
  color: rgb(252, 252, 252);
  min-height: 10vh;
}

p {
  text-align: left;
  margin: 0 400px;
  font-family: 'Poppins'; 
  color: rgb(0, 0, 0);
  min-height: 30vh;
}

div.center {
  text-align: center;
}

#myDIV {
  width: 50%;
  padding: 50px 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 458px;
  margin-right: -500px;
  display: none;
}

#myDIV2 {
  width: 50%;
  padding: 50px 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 458px;
  margin-right: -500px;
  display: none;
}

#myDIV3 {
  width: 50%;
  padding: 50px 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 458px;
  margin-right: -500px;
  display: none;
}

#myDIV4 {
  width: 50%;
  padding: 50px 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 458px;
  margin-right: -500px;
  display: none;
}

#myDIV5 {
  width: 50%;
  padding: 50px 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 458px;
  margin-right: -500px;
  display: none;
}

#myDIV6 {
  width: 50%;
  padding: 50px 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 458px;
  margin-right: -500px;
  display: none;
}

#myDIV7 {
  width: 50%;
  padding: 50px 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 458px;
  margin-right: -500px;
  display: none;
}

#myDIV8 {
  width: 50%;
  padding: 50px 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 458px;
  margin-right: -500px;
  display: none;
}

#myDIV9 {
  width: 50%;
  padding: 50px 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 458px;
  margin-right: -500px;
  display: none;
}

#myDIV10 {
  width: 50%;
  padding: 50px 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 458px;
  margin-right: -500px;
  display: none;
}

#myDIV11 {
  width: 50%;
  padding: 50px 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 458px;
  margin-right: -500px;
  display: none;
}

#myDIV12 {
  width: 50%;
  padding: 10px 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 458px;
  margin-right: -500px;
  display: none;
}

#myDIV13 {
  width: 50%;
  padding: 50px 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 458px;
  margin-right: -500px;
  display: none;
}

.container {
  height: 200px;
  position: relative;
}

.vertical-center {
  margin: auto;
  position: absolute;
  -ms-transform: translateY(30%);
  transform: translateX(-70%);
}
